.expenses-main-container {
  width: 100%;
  height: 750px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.table-and-filter-container {
  width: 100%;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  flex: 1;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 0 rgba(192, 145, 145, 1);
}
.form-filter-container-expense {
  display: flex;
  flex: 1;
  max-height: 140px;
  overflow: auto;
}

.expense-table {
  height: 600px;
  flex: 2;
}
.input-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10px;
}
.formBtnFilterExpenses {
  display: flex;
  align-items: end;
  gap: 10px;
}

@media (max-width: 1182px) {
  .expenses-main-container {
    grid-template-columns: 1fr;
  }
}
